/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BASE */
html {
    font-size: 100%;
    scroll-behavior: smooth;
}

/* BODY EM GRID */
body {
    font-family: Arial, sans-serif;
    background-color: #d4cdad;

    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";

    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

    padding-top: 7rem; /* navbar fixa */
}

/* ÁREAS */
header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

/* NAV */
nav {
    background-color: #942222;
}

.navbar .nav-link,
.navbar .navbar-brand {
    color: #d4cdad;
}

/* GRID SOBRE */
.sobre-grid {
    display: grid;
    grid-template-columns: 5fr 3fr;
    gap: 1.25rem;
    align-items: center;
}

.curriculo-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 colunas */
    gap: 2rem;
}

@media (max-width: 768px) {
    .curriculo-grid {
        grid-template-columns: 1fr;
    }
}

/*  GRID HABILIDADES */
.habilidades-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

/* IMAGEM */
.sobre-imagem img {
    width: 100%;
    border-radius: 10px;
}

/* RESPONSIVO */
@media (max-width: 768px) {
    .sobre-grid {
        grid-template-columns: 1fr;
    }

    .habilidades-grid {
        grid-template-columns: 1fr;
    }

    body {
        padding-top: 6rem;
    }
}

/* BOX SOBRE */
.sobre-box {
    background-color: #98c3a1;
    padding: 2rem;
    border-radius: 1.5rem;
}

/* SEÇÕES */
.section {
    margin-bottom: 4rem;
    scroll-margin-top: 7rem;
}

/* TÍTULOS */
h2 {
    color: #942222;
    margin-bottom: 1.5rem;
}

h4 {
    color: #25857d;
    margin-top: 1.5rem;
}

h5 {
    margin-bottom: 1.7rem;
}

/* CARDS */
.card {
    border: none;
    background-color: #98c3a1;
    border-radius: 1rem;
}

/* BOTÃO */
.btn-primary {
    background-color: #25857d;
    border: none;
    padding: 0.6rem 1.2rem;
}

/* FOOTER */
footer {
    background-color: #942222;
    color: #d4cdad;
    margin-top: 3rem;
}