<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio Acadêmico</title>

    <!-- Bootstrap (mantido só pra navbar e cards) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <!-- NAVBAR -->
    <header>
        <nav class="navbar navbar-expand-lg fixed-top py-3">
            <div class="container">
                <a class="navbar-brand" href="#">Portfólio de Marina Duque</a>

                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="menu">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a href="#sobre" class="nav-link">Sobre</a></li>
                        <li class="nav-item"><a href="#curriculo" class="nav-link">Currículo</a></li>
                        <li class="nav-item"><a href="#projetos" class="nav-link">Projetos</a></li>
                        <li class="nav-item"><a href="#habilidades" class="nav-link">Habilidades</a></li>
                        <li class="nav-item"><a href="#contato" class="nav-link">Contato</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>

        <!-- SOBRE -->
        <section id="sobre" class="container section">
            <div class="sobre-box">
                <div class="sobre-grid">
                    <div class="sobre-texto">
                        <h2>Sobre Mim</h2>
                        <p><strong>Nome:</strong> Marina Duque de Holanda Cavalcanti</p>
                        <p><strong>Formação Atual:</strong> Cursando Desenvolvimento de Software Multiplataforma - FATEC
                        </p>
                        <p><strong>Objetivo Acadêmico e Profissional:</strong> Atuar como desenvolvedora digital</p>
                        <p><strong>Áreas de Interesse:</strong> Desenvolvimento Web, Design Digital, Inteligência
                            Artificial</p>
                    </div>

                    <div class="sobre-imagem">
                        <img src="../static/imagens/Marina Duque.jpeg" alt="Foto de Perfil">
                    </div>
                </div>
            </div>
        </section>

        <!-- CURRÍCULO -->
        <section id="curriculo" class="container section">
            <div class="curriculo">
                <h2>Currículo</h2>

                <div class="curriculo-grid">
                    <div>
                        <h4>Formação</h4>
                        <ul>
                            <li><a href="https://www.cps.sp.gov.br/fatecs/fatec-sao-jose-dos-campos-prof-jessen-vidal/" target="blank">FATEC - DSM (2026 - atual)</a></li>
                        </ul>
                    </div>

                    <div>
                        <h4>Cursos</h4>
                        <ul>
                            <li><a href="https://saga.com.br/" target="blank">Arte, Jogos e Animação - SAGA</a></li>
                        </ul>
                    </div>

                    <div>
                        <h4>Medalhas</h4>
                        <ul>
                            <li><a href="https://www.obm.org.br/canguru-de-matematica-brasil/" target="blank">Olímpiada Canguru 2023 - bronze</a></li>
                            <li><a href="https://www.obm.org.br/canguru-de-matematica-brasil/" target="blank">Olímpiada Canguru 2024 - prata</a></li>
                        </ul>
                    </div>

                    <div>
                        <h4>Certificados</h4>
                        <ul>
                            <li><a href="https://www.culturainglesa.com.br/" target="_blank">Proficiência em Inglês</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- PROJETOS -->
        <section id="projetos" class="container section">
            <h2>Projetos</h2>

            <div class="row g-4">

                <!-- Projeto 1 -->
                <div class="col-12 col-md-6">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5>API - <strong>Radar Cidadão</strong> - Trabalho em Equipe</h5>
                            <p><strong>Problema e Objetivo:</strong> Facilitar o acesso e a compreensão, pela maior
                                parte da
                                sociedade, dos dados públicos complexos sobre deputados candidatos à reeleição.</p>
                            <p><strong>Solução:</strong> Criação de um site que simplifica dados complexos, tornando-os
                                claros e úteis para a população entender e comparar candidatos.</p>
                            <p><strong>Tecnologias:</strong> Python, HTML, CSS, Colab, Jira, Bootstrap</p>
                            <p><strong>Metodologia:</strong> Foi utilizada a metodologia ágil SCRUM</p>
                            <p><strong>Desafios Técnicos:</strong> A fonte utilizada não fornecia boa parte dos dados
                                que
                                precisávamos de forma direta, foi preciso buscar outra alternativa</p>
                            <p><strong>Resultados:</strong> O projeto ainda está em desenvolvimento, mas já foi possível
                                transformar dados em informações úteis</p>
                            <p><strong>Minha participação:</strong>Atuei como Scrum Master, organizando e distribuindo
                                as tarefas da equipe por meio do Jira.</p>
                            <a href="https://github.com/ninaduquehc/API" class="btn btn-primary" target="_blank">Ver
                                Projeto</a>
                        </div>
                    </div>
                </div>

                <!-- Projeto 2 -->
                <div class="col-12 col-md-6">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5><strong>Universidade Fictícia</strong></h5>
                            <p><strong>Problema:</strong> Atividade criada pelo profesor de Desenvolvimento Web e Design
                                Digital para treinar o que foi ensinado em aula</p>
                            <p><strong>Objetivo:</strong> Criar um site responsivo que utilize HTML, CSS e BOOTSTRAP com
                                interface fluida, organizada e limpa </p>
                            <p><strong>Solução:</strong> Foi criada uma Universidade fictícia chamada Studio KeyFrame e
                                feito um site com 3 páginas interligadas (Home, Sobre e Contato)</p>
                            <p><strong>Tecnologias:</strong> HTML, CSS, Bootstrap</p>
                            <p><strong>Metodologia:</strong> Prototipagem</p>
                            <p><strong>Desafios Técnicos:</strong> Utilizar o projeto não somente para fixar o conteúdo
                                já ministrado, mas também para ir mais a fundo</p>
                            <p><strong>Resultados:</strong> Site com interface moderna, tecnólogica, com identidade
                                visual condizente ao que a faculdade se propõe à ser</p>
                            <a href="https://github.com/ninaduquehc/DesignDigital" class="btn btn-primary"
                                target="_blank">Ver Projeto</a>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <!-- HABILIDADES -->
        <section id="habilidades" class="container section">
            <h2>Habilidades</h2>

            <!-- 🔥 AQUI ESTÁ A MUDANÇA -->
            <div class="habilidades-grid">

                <div>
                    <h4>Técnicas</h4>
                    <ul>
                        <li>Linguagens: Python, SQL, HTML, CSS</li>
                        <li>Frameworks: Flask</li>
                        <li>Banco de Dados: MySQL</li>
                        <li>Ferramentas: Git, Jira, Colab</li>
                    </ul>
                </div>

                <div>
                    <h4>Comportamentais</h4>
                    <ul>
                        <li>Liderança</li>
                        <li>Trabalho em equipe</li>
                        <li>Organização</li>
                        <li>Resolução de Problemas</li>
                    </ul>
                </div>

            </div>
        </section>

        <!-- EVENTOS -->
        <section class="container section">
            <h2>Eventos</h2>
            <ul>
                <li>XXV Maratona Interna de Programação FATEC</li>
            </ul>
        </section>

        <!-- CONTATO -->
        <section id="contato" class="container section">
            <h2>Contato</h2>
            <p><strong>Email: </strong><a href="mailto:marinaduque2006@email.com" target="blank">marinaduque2006@email.com</a></p>
            <p><strong>GitHub:</strong> <a href="https://github.com/ninaduquehc" target="_blank">ninaduquehc</a></p>
            <p><strong>LinkedIn:</strong> <a href="https://linkedin.com/in/marina-cavalcanti-53b3503b8"
                    target="_blank">Marina Cavalcanti</a></p>
            <p><strong>Instagram:</strong> ninaduquehc</p>
        </section>

    </main>

    <!-- FOOTER -->
    <footer class="text-center p-3">
        <p class="mb-0">&copy; 2026 - Portfólio de Marina Duque. Todos os direitos reservados</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>